@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}

html, body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding: 10px;
    scroll-behavior: smooth;
    /* background-color: white; */
}

.darkTheme {
    color: white;
    background-color: #121212 ;
}

a:link, a:visited {
    /* color: black; */
}

nav {
    margin-top: auto;
}
   
h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    /* text-decoration: underline; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stripeBase {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.horiz {
    flex-grow: 1;
    width: 100%;
    align-self: flex-end;
}

.blueStripe {
    background-color: #0039a6;
}

.orangeStripe {
    background-color: #ff6319;
}

.greenStripe {
    background-color: #6cbe45;
}

.purpleStripe {
    background-color: #b933ad;
}

.mainCols {
    display: flex;
    flex-direction: row;
}

.stripeBaseVert {
    align-self: stretch;
    min-width: 40px;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    gap: 1px;
}

.vert {
    flex-grow: 1;
    justify-self: stretch;
    /* height: 100px; */
}

.bioText, footer {
    max-width: 800px;
    white-space: pre-line;
}

.projectCard {
    background-color: #cae0ee77;
    max-width: 550px;
    display: grid;
    grid-template-columns: 100px 1fr;
    /* grid-template-rows: 30px 70px; */
    grid-template-rows: 30px 1fr;
    margin-top: 15px;
}

.projectHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.githubLogo {
    height: 30px;
}

.projectTitle {
    /* font-size: 25px; */
}

.thumbnailLink {
    /* grid-row: 1 / -1; */
}

.projectThumbnail {
    grid-row: 1 / -1;
    height: 100px;
    max-width: 100px;
    /* object-fit: contain; */
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.projectDesc {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.educationEntry {
    margin-top: 15px;
    gap: 5px;
    background-color: #cae0ee77;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.educationTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.educationDates {
    width: 60px;
}

.socialBar {
    display: flex;
    gap: 10px;
}