@font-face {
    font-family: Inter;
    src: url(fonts/Inter-Regular.ttf);
}

html, body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding: 10px;
    scroll-behavior: smooth;
    /* background-color: #f7f7f7; */
}

.darkTheme {
    color: white;
    background-color: #121212 ;
}

button {
    margin-left: auto;
    max-width: 150px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #121212 ;
}

.darkTheme button {
    color:black;
    background-color: white ;
}

.darkTheme g {
    fill: white;
}

a:link, a:visited {
    color: black;
}

.darkTheme a:link, .darkTheme a:visited {
    color: white;
}

/* .darkTheme img{
    border-color: white;
} */

nav {
    margin-top: auto;
}

.navOption {
    display: flex;
    flex-direction: row;
}
   
h1 {
    display: flex;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    /* text-decoration: underline; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.headerControls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.marker {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    align-self: center;
}

.stripeBase {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.stripeBase > * {
    flex-grow: 1;
    align-self: flex-end;
}

.horiz1 {
    width: 100%;
}
.horiz2 {
    width: calc(100% - 10px);;
}
.horiz3 {
    width: calc(100% - 21px);;
}
.horiz4 {
    width: calc(100% - 31px);;
}

.blue {
    background-color: #0039a6;
}

.orange {
    background-color: #ff6319;
}

.green {
    background-color: #6cbe45;
}

.purple {
    background-color: #b933ad;
}

.mainCols {
    display: flex;
    flex-direction: row;
}

.stripeBaseVert {
    align-self: stretch;
    min-width: 40px;
    display: flex;
    flex-direction: row;
    gap: 1px;
    transform: translateY(-31px);
}
.stripeBaseVert > * {
    flex-grow: 1;
    justify-self: stretch;
}
.vert1 {
    height: 100%;
}
.vert2 {
    transform: translateY(1px);
}
.vert3 {
    transform: translateY(12px);
}
.vert4 {
    transform: translateY(22px);
}

.mainContent {
    padding: 10px;
}

.bioText, footer {
    max-width: 800px;
    white-space: pre-line;
}

.projectCard {
    max-width: 550px;
    display: flex;
    margin-top: 15px;
    gap: 5px;
}

.projectText {
    /* background-color: #cae0ee77; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projectHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.githubLogo {
    height: 30px;
}

.projectThumbnail {
    grid-row: 1 / -1;
    height: 100px;
    max-width: 100px;
    /* object-fit: contain; */
    border: 5px solid #6cbe45;
    border-radius: 50%;
    box-sizing: border-box;
}

.projectDesc {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.educationEntry {
    margin-top: 15px;
    gap: 5px;
    /* background-color: #cae0ee40; */
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.educationTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.educationDates {
    width: 60px;
}

.socialBar {
    display: flex;
    gap: 10px;
    background-color: #cae0ee40;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }
}