html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projectCard {
    display: flex;
    flex-direction: column;
}

.projectThumbnail {
    height: 100px;
    max-width: 100px;
    object-fit: contain;
    border-radius: 50%;
}